body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

h1 a {
  font-size: 1.8rem;
}
h1 a.text-light:hover {
  color: white!important;
  text-decoration: none!important;
}
.nuevo-post{
  font-weight: bold;
  text-transform: uppercase;
}

img{
  width: 100px;
}

/* .container2{
  background-image: url(https://images.unsplash.com/photo-1529321440961-39288681287f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.black{
  background-color: black;
}

.btn {
  font-weight: bold;
}
.form-group label,
.list-group-item {
  font-size: 1.4rem;
}

.navbar .btn {
  flex:1;
}
@media (min-width:768px){
    .navbar .btn {
      flex: 0 1 auto;
    }
}
.acciones {
  margin: 1rem 0;
}
@media (min-width:768px) {
  .acciones{
    margin: 0;
  }
}
.acciones > *{
  flex: 1;
}
